html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #0076ff;
  text-decoration: none;
  transition: all 0.2s ease;
  border-bottom: 1px solid black;
}

* {
  box-sizing: border-box;
}

a:hover {
  border-bottom: 1px solid #0076ff;
}
